.problem-number-icon {
  width: 2rem;
  height: 2rem;
  background-color: var(--theme-elevation-700);
  color: var(--theme-elevation-100);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}